# macOS
.DS_Store

# Env
.env
.env.local

# Placeholder until stack is finalized
__pycache__/
*.pyc
.venv/
node_modules/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
tfplan
